.App {
  text-align: center;
}

header,
.special-txt {
  color: #fff;
  letter-spacing: 0.2rem;
}

.bar-name {
  color: #15cc15;
}

.header-subtitle {
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: lighter;

  text-shadow: 0 -1px 0 #fff, 0 1px 0 rgb(21, 204, 21), 0 2px 0 rgb(19, 202, 19),
    0 3px 0 rgb(17, 200, 17);
}

.keywords-or-list {
  border-bottom: solid 3px #15cc15;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 10px 30px;

  position: relative;
  display: inline-block;
  padding: 0 45px;
}

.keywords-or-list::before,
.keywords-or-list::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 3px;
  background-color: #15cc15;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.keywords-or-list::before {
  left: 0;
}

.keywords-or-list::after {
  right: 0;
}

.keywords-or-list a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 320px) {
  .second {
    margin: 10px 10px;
  }
}

.home {
  margin: 70px 0;
}

.special-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  cursor: pointer;
}

.bartendar {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ----- search ----- */
.search-button {
  border: solid #15cc15 2px;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  margin: 10px 30px;
  font-size: 1.25rem;
  font-family: "Pattaya", sans-serif;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.button-clicked {
  background-color: #15cc15;
}

.search-button:hover {
  background-color: #15cc15;
}

.search,
.list {
  margin-top: 70px;
}

.search-input {
  outline: none;
  border-bottom: solid #15cc15 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0 15px;
  font-family: "Pattaya", sans-serif;
}

/* Smartphone */
@media (max-width: 320px) {
  .search-input {
    width: 250px !important;
  }
}

.search-main {
  width: 90%;
  margin: 80px auto;
  font-family: "Arima Madurai", cursive;
}

.no-match {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-family: "Pattaya", sans-serif;
}

/* ----- modal ----- */
.modal-name {
  text-align: center;
  font-weight: bold;
}

.modal-img {
  width: 100%;
  color: #d1d1d1;
}

.modal-contents p {
  margin: 5px 0;
}

.modal-item-title {
  font-weight: 700;
  text-decoration: underline;
  margin: 5px 0;
}

.modal-child-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingredients-measures {
  display: grid;
  grid-template-columns: 65% 35%;
}

.ingredients-measures div:first-child {
  margin-left: 20px;
}

/* ----- list ----- */
.list-li {
  color: #fff;
  list-style: none;
  float: left;
  margin: 0 20px 10px 20px;
  background-color: #15cc15;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}

.clr {
  clear: both;
}
