.App {
  text-align: center;
}

header {
  color: #fff;
  letter-spacing: 0.2rem;
}

.bar-name {
  color: #15cc15;
}

.header-subtitle{
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: lighter;

  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 rgb(21, 204, 21), 
    0 2px 0 rgb(19, 202, 19), 
    0 3px 0 rgb(17, 200, 17);
}

input {
  outline: none;
  border-bottom: solid #15cc15 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0 15px;
  font-family: 'Pattaya', sans-serif;
}

main {
  width: 90%;
  margin: 80px auto;
  font-family: 'Arima Madurai', cursive;
}

.no-match {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-family: 'Pattaya', sans-serif;
}

.MuiImageListItemBar-title {
  letter-spacing: 0.05rem;
  font-weight: bold;
}





.modal-name {
  text-align: center;
  font-weight: bold;
}

.modal-img {
  width: 100%;
  color: #d1d1d1;
}

p {
  margin: 5px 0;
}

.MuiBox-root {
  font-family: 'Arima Madurai', cursive;
}

.modal-item-title {
  font-weight: 700;
  text-decoration: underline;
  margin: 5px 0;
}

.modal-child-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingredients-measures {
  display: grid;
  grid-template-columns: 65% 35%;
}

.ingredients-measures div:first-child {
  margin-left: 20px;
}


