.App {
  text-align: center;
}

header {
  color: #fff;
  letter-spacing: 0.2rem;
}

.bar-name {
  color: #15cc15;
}

.header-subtitle{
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: lighter;

  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 rgb(21, 204, 21), 
    0 2px 0 rgb(19, 202, 19), 
    0 3px 0 rgb(17, 200, 17);
}

.search-button {
  border: solid #15cc15 2px;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  margin: 10px 30px;
  font-size: 1.25rem;
  font-family: 'Pattaya', sans-serif;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.button-clicked {
  background-color: #15cc15;
}

.search-button:hover {
  background-color: #15cc15;
}

input {
  outline: none;
  border-bottom: solid #15cc15 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0 15px;
  font-family: 'Pattaya', sans-serif;
}

/* Smartphone */
@media (max-width: 320px) {

  input{
    width: 250px;
  }

}

@media (min-width: 321px) and (max-width: 500px) {

}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {

}

/* Normal */
@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1441px) {

}




/* ----- main(after search) ----- */
main {
  width: 90%;
  margin: 80px auto;
  font-family: 'Arima Madurai', cursive;
}

.no-match {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-family: 'Pattaya', sans-serif;
}

.MuiImageList-root {
  margin: 80px auto;
}

.MuiImageList-root li {
  cursor: pointer;
}

.MuiImageListItemBar-title {
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-family: 'Arima Madurai', cursive;
}

/* Smartphone */
@media (max-width: 500px) {

  .MuiImageList-root {
    grid-template-columns: 1fr !important;
    gap: 30px !important;
  }
  
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {

  .MuiImageList-root {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px !important;
  }

}

/* Normal */
@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1441px) {

  .MuiImageList-root {
    grid-template-columns: repeat(5, 1fr) !important;
    gap: 50px !important;
  }

}



/* ----- modal ----- */
.modal-name {
  text-align: center;
  font-weight: bold;
}

.modal-img {
  width: 100%;
  color: #d1d1d1;
}

.MuiBox-root {
  font-family: 'Arima Madurai', cursive;
  -ms-overflow-style: none;
}

.MuiBox-root::-webkit-scrollbar{
  display: none;
}

.MuiBox-root p {
  margin: 5px 0;
}

.modal-item-title {
  font-weight: 700;
  text-decoration: underline;
  margin: 5px 0;
}

.modal-child-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingredients-measures {
  display: grid;
  grid-template-columns: 65% 35%;
}

.ingredients-measures div:first-child {
  margin-left: 20px;
}


/* Smartphone */
@media (max-width: 320px) {
  /* .css-mhc70k-MuiGrid-root {
    flex-direction: column !important;
  } */
}

@media (min-width: 321px) and (max-width: 500px) {

}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {

}

/* Normal */
@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1441px) {

}